@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fef9f2;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  margin: 0;
}

.panel-container {
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 4px;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem;
  max-width: 40rem;
}

.panel-container strong {
  line-height: 2rem;
}

.ratings-container {
  display: flex;
  margin: 2rem 0;
}

.rating {
  flex: 1;
  cursor: pointer;
  padding: 2rem;
  margin: 1rem 0.5rem;
}

.rating:hover,
.rating.active {
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.15) 0px 10px 24px -5px,
    rgba(0, 0, 0, 0.2) 0px 6px 14px -8px;
  transition: transform 0.2s ease-in-out;
  transform: scale(1.1);
}

.rating img {
  width: 4rem;
}

.rating small {
  color: #555;
  display: inline-block;
  margin: 1rem 0 0;
}

.rating:hover small,
.rating.active small {
  color: #111;
}

.btn {
  background-color: #302d2b;
  color: #fff;
  border: 0;
  border-radius: 4px;
  padding: 1.2rem 3rem;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.fa-heart {
  color: #ef4f4f;
  font-size: 3rem;
  margin-bottom: 1rem;
}
